.bookclub-app{
    background-color: rgb(212, 237, 255);
    background-repeat: repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: stretch;


}

.topic-container{
    height:200px;

}


.stuff-container{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.button-bookclub{
    width: fit-content;
    height:  fit-content;
}

.fixedElement {
    background-color: transparent;
    
    position:fixed;
    top:90vh;
    width: 100%;
    z-index:100;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.notes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: rgb(212, 237, 255);
}