.contactpage-container{
    background-image: url("../Assets/contactpage.png");
    width:100vw;
    height:100vh;
    background-position: 100% 150%;
    background-repeat: no-repeat;
    background-size: 80% 98%;
}

.fake-navbar{
    height: 10%;
    width:100%;
}