.book-rectangle{
    width: 60px;
    height:180px;
    background-color: red;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin:15px;
}

.bookadd-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.information-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
   
    align-items: center;
    align-content: center;

}

.color-information{
    align-items: center;
    align-content: center;

    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.images-section{
    display: flex;
    flex-direction: row;
}

.book-cover{
    width:60%;
    height:70%;
    margin: 15px;
}