.hoverbox {
    padding: 5px;
    background-color: white;
    width: 150px;
    border: 2px solid;
    border-color: black;
    position: absolute;
    
    left:60px;
    display: flex;
    flex-direction: column;
  }
  
  .hoverbox:hover {
    cursor: pointer;
  }
  
  .delete-text {
    color:red !important;
    padding: 2px;
  }
  
  .delete-text:hover {
    background-color: var(--light--grey);
  }
  
  .hoverbox-text {
    padding: 2px;
  }
  
  .hoverbox-text:hover {
    background-color: var(--light--grey);
  }
  
  .u-red {
    color: red;
  }
  
  .u-margin-top-0 {
    margin-top: 0;
  }
  
  .u-margin-bottom-0 {
    margin-bottom: 0;
  }
  
  .hoverbox-category {
    padding: 5px;
    background-color: white;
    width: 200px;
    height:200px;
    border: 2px solid;
    border-color: black;
    position: absolute;
    top: 200px;
    bottom: 200px;
    right:60px;
    display: flex;
    flex-direction: column;
  }