.book {
    width: 20px;
    height: 50px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 100;

  
  }


  .book.selected {
    border: solid black;
    width: 25px;
    height: 55px;

  
  }