.note{
    width: 20vw;
    height: fit-content;
    background-color: ivory;
    border: solid white;
    margin: 10px;
    border-radius: 5%;
}

.note-title{
    word-break: break-all;
    display: flex;
    flex-direction: row;
    font-size:smaller;
    justify-content: space-between;
    padding-bottom: 0 !important;
    word-break: break-all;
}

.note-top-wrapper{
    display: flex;
    flex-direction: row;
    font-size:smaller;
    justify-content: space-between;
    padding-bottom: 0 !important;
}

.date-text{
    font-size: smaller;
}

.title-note-style{
    margin: 0 !important;
    padding: 0 !important;
    word-break: break-all;


}

.author-note-style{
    margin: 0 !important;
    padding: 0 !important;
    word-break: break-all;


}

