.nav-section{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height:15%;
    display:flex;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;

}

.nav-item{
    padding:10px;
    margin:10px;
    font-weight: 200;
    font-size: 100%;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5%;


}

.nav-item:hover{
    background-color: rgb(184, 207, 232);
    color: azure;
}


